<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Log in</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../assets/logo.png" alt="Logo My Video">
    </header>
    <section class="login">
        <section class="login__container">
            <h2>Sign Up</h2>
            <form class="login__container--form">
                <input class="login__input" type="text" placeholder="Name">
                <input class="login__input" type="text" placeholder="Email">
                <input class="login__input" type="password" placeholder="Password">
                <button class="login__button">Sign Up</button>
            </form>
            <p class="register__container--sign-in">
                <a href="../components/signin.html">Sign In</a>
            </p>
        </section>
    </section>
    <footer class="footer">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Statement</a>
        <a href="#">Help Center</a>
    </footer>
</body>
</html>